<div class="jumbotron">
	<h2 class="text-center">Cadastro de Aluno</h2>
	<hr />

	<form [ngFormModel]="alunoForm">
		<div class="form-group">
			<label class="control-label" for="nome">Nome</label>
			<input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="aluno.nome" ngControl="nome">
			<div [hidden]="alunoForm.find('nome').valid" class="alert alert-danger">Digite um nome</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control" name="email" id="email" [(ngModel)]="aluno.email" ngControl="email">
			<div [hidden]="alunoForm.find('email').valid" class="alert alert-danger">Digite um email válido</div>			
		</div>
		<div class="form-group">
			<label class="control-label" for="idade">Idade</label>
			<input type="text" class="form-control" name="idade" id="idade" [(ngModel)]="aluno.idade">
		</div>
		<div class="form-group">
			<label class="control-label" for="curso">Curso</label>
			<select name="curso" id="curso" class="form-control" [(ngModel)]="aluno.curso" ngControl="curso">
				<option value="">Selecione</option>
				<option *ngFor="#curso of cursos" [value]="curso.codigo">
					 {{curso.nome}}
				</option>
			</select>
			<div [hidden]="alunoForm.find('curso').valid" class="alert alert-danger">Selecione um curso</div>
		</div>

		<hr />

		<div class="form-group text-center">
			<button class="btn btn-success" *ngIf="idEditar<0" [disabled]="!alunoForm.valid" (click)="cadastrar()">
                Cadastrar
            </button>
			<button class="btn btn-success" *ngIf="idEditar>=0" [disabled]="!alunoForm.valid" (click)="atualizar()">
                Atualizar
            </button>
		</div>
	</form>
</div>

<div [hidden]="mensagem == ''" class="alert alert-warning">{{mensagem}}</div>

<div>
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Email</th>			
			<th>&nbsp;</th>
		</tr>
		<tr *ngFor="#aluno of alunos">
			<td>{{aluno.nome}}</td>
			<td>{{aluno.email}}</td>
			<td>
				<button class="btn btn-info" (click)="editar(aluno)">
                    Editar
                </button>
				<button class="btn btn-danger" (click)="excluir(aluno)">
                    Excluir
                </button>
			</td>
			
		</tr>
	</table>
</div>
